!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
**/*.profraw
*.hash.md5
*.hmap
*.junit
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.pyc
*.timings.xcode
*.xccheckout
*/build/*
.binary/
.DS_Store
.idea/
.reports/
.sourcery.yml
.xcode-env-local
/buildtime_start.log
/buildtimes_list.log
/targets.json
Build/
buildtimes.log
DerivedData
Podfile.lock
Pods/
profile
reports/
UserInterfaceState.xcuserstate
vendor/
xcuserdata
